Hello and welcome to me, @Xenian2Bot

I am the second generation of @XenianBot and am faster and more stable. I am still being developed, so it'll take some time to have all features available. I will also get some new features.

Commands:
Universal:
/id - Show associated ID's with message or replied to message

Private chat only:
/start - Show this message.

Groups chat only:
/rules - Show group rules
/kick - Kick a user. Add 10min, 1h etc to define duration
/ban - Ban a user
/warn - Warn a user. 3 warnings result in ban. Add a number like 1 to define exact number of warns.
/set_rules - Set new group rules
/clear_rules - Remove group rules
/set_welcome - Set welcome message. You can use "{user}" which will be replaced with the new users name.
/clear_welcome - Remove welcome message
